### Answer with the type of stats test you would use (assume normal distribution):

 1) Is there a relationship between the length of your arm and the length of your foot?
 - correlation test
 
 2) Do guys and gals quit their jobs at the same rate?
 - two sample, two tail t-test
 
 3) Does the length of time of the lecture correlate with a students grade?
 - correlation test

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from math import sqrt

from scipy import stats
from pydataset import data

import env

In [ ]:
db_url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/telco_churn'
df = pd.read_sql('SELECT * FROM customers', db_url)

In [ ]:
df.head()

##### Does tenure correlate with monthly charges?

In [ ]:
tenure_years = df.tenure
monthly_charges = df.monthly_charges

In [ ]:
tenure_years

In [ ]:
monthly_charges

In [ ]:
alpha = 0.05
corr, p = stats.pearsonr(tenure_years, monthly_charges)
corr, p

In [ ]:
if p < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

In [ ]:
plt.scatter(x=tenure_years, y=monthly_charges)

In [ ]:
# yes, there is a moderatly positive correlation between tenure years and monthly charges.

#### Does tenure correlate with Total charges?

In [ ]:
df.info()

In [ ]:
df['rough_total_charges'] = (df.tenure * df.monthly_charges)

In [ ]:
df.head()

In [ ]:
rough_total_charges = df.rough_total_charges
corr, p = stats.pearsonr(tenure_years, rough_total_charges)
corr, p

In [ ]:
plt.scatter(x=tenure_years, y=rough_total_charges)

In [ ]:
df.head()

#### What happens if you control for phone and internet service?

#### Above code would not run ^^

In [ ]:
sns.relplot(data=df, x=tenure_years, y = rough_total_charges, col = 'phone_service')

In [ ]:
sns.relplot(data=df, x=tenure_years, y = rough_total_charges, col = 'internet_service_type_id')

## Correction for Number 2.b (supposedly, i coulnd't run it)

def corr_tenure_and_monthly(df):
    return pd.Series(stats.pearsonsr(df.tenure, df.monthly_charges), index = ['r', 'p'])
   
df.groupby(['internet_service_type_id', 'phone_service']).apply(corr_tenure_and_monthly)

## Three: use the employees database

#### Is there a relationship between how long an employee has been with the company and their salary?

In [ ]:
db_url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'
df = pd.read_sql('SELECT * FROM salaries', db_url)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['time_employed'] = (df.to_date - df.from_date)

In [ ]:
df.head()

In [ ]:
df.sort_values(by=['time_employed'])

In [ ]:
df['time_employed_float'] = df.time_employed.total_seconds()

In [ ]:
df.salary.mean()

In [ ]:
import datetime
current_date = datetime.datetime.now()
print("Date and Time in Integer Format:",
      int(current_date.strftime("%Y%m%d")))

In [ ]:
stats.pearsonr(employees_with_salaries.tenure, employees_with_salaries.salary)

In [ ]:
sns.relplot(data=employees_with_salaries, y='salary', x='tenure')

In [ ]:
#Is there a relationship between how long an employee has been 
#with the company and the number of titles they have had?
query = '''
SELECT
    e.emp_no,
    DATEDIFF((SELECT MAX(hire_date) FROM employees), e.hire_date) AS tenure,
    n_titles
FROM employees e
JOIN (
    SELECT emp_no, COUNT(*) as n_titles
    FROM employees e
    JOIN titles t USING (emp_no)
    GROUP BY emp_no
) emp_title_count USING (emp_no)
'''

In [ ]:
employees_with_titles = pd.read_sql(query, url)

In [ ]:
stats.pearsonr(employees_with_titles.tenure, employees_with_titles.n_titles)

### Sleep Study

In [ ]:
pydataset.data('sleepstudy', show_doc=True)

In [ ]:
sleep = pydataset.data('sleepstudy')
sleep.head()

In [ ]:
stats.pearsonr(sleep.Reaction, sleep.Days) # We reject the null hypothesis

In [ ]:
sns.lmplot(data=sleep, y='Reaction', x='Days')